html {
  /*background-color: #f9f9f9;*/
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  margin: 10px;
}

#root {
  height: 100%;
  width: 100%;
}

.rdt-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
  width: 1000px;

  .rdt-header {
    font-size: 1.7em;
    margin: 0;
    padding: 1em 2rem;
  }

}

.rdt-table {
  border-collapse: collapse;
  line-height: 1.7rem;
  width: 100%;

  .right-align {
    text-align: right;
  }

  th {
    color: #767676;
    font-size: 0.92rem;
    font-weight: 300;
    padding: 1rem 2rem;
    text-align: left;
  }

  tbody {
    tr:hover {
      background-color: #eee;
    }

    tr {
      border-top: 1px solid rgba(0, 0, 0, 0.05);

      td {
        color: #212121;
        font-size: 1rem;
        padding: 1rem 2rem;
      }
    }
  }

  /*th.no-right-padding,
  td.no-right-padding {
    padding-right: 0;
  }*/
}
